# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Model file (too large for GitHub)
backend/model_artifacts/*.pt
backend/model_artifacts/*.ckpt

# Node
frontend/node_modules/
frontend/build/
frontend/.vite/

# Docker
*.log

# Mac
.DS_Store
